<!-- show details -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-5">
            <div class="main-img">
                <img class="img-fluid" src="{{serverURL+product.imageUrl}}" alt="ProductS"> </div>
        </div>
        <!-- show category details -->
        <div class="col-md-7">

            <div class="main-description px-2">
                <div class="category text-bold">
                    <h2>{{product.productName}}</h2>
                </div>
            <div class="main-description px-2">
                <div class=><strong>Category:</strong> <br> <i>{{product.categoryName}}</i> </div>
                    <br>
                <div class="main-description">
                    <div class=><strong>Description:</strong> <br> <i>{{product.productDescription}}</i> 
                    </div>
                       <!-- description -->
           
                <!-- price -->
                <div class="product-details my-4">
                    <span class="details-title text-color mb-1">price :</span>
                    <span class="details-title text-color mb-1"><strong>{{product.price|currency|uppercase}}</strong> </span>
                </div>                 <!-- add to cart , add to wish list ,use onvlikc to use it  -->
                <div class="buttons d-flex my-5">
                    <div class="block">
                        <!-- <button class="btn btn-primary" style="height: 50px;" (click)="addToCart(product.id)"> add to cart</button> -->
                        <app-add-to-cart [productId]="product.id"></app-add-to-cart>
                    </div>
                    <div class="block">
                        <app-add-to-wishlist [productID]="product.id"></app-add-to-wishlist>
                    <div class="block quantity">
                        <input type="number" class="form-control" id="cart_quantity" value="{{product.quantity}}" min="0" max="5" placeholder="Enter email" name="cart_quantity"></div>
                </div>
                </div>
                
            <div class="product-details my-4">
                <p class="details-title text-color mb-1">Product Stars</p>
                <p class="description"> <i class="fa fa-star rating-color"></i>{{product.rate}}</p>
            </div>
                     <div class="row questions bg-light p-3">
                <div class="col-md-1 icon">
                    <i class="fa-brands fa-rocketchat questions-icon"></i>
                </div>

                <div class="col-md-11 text">
                    Have a question about our products at E-Store? Feel free to contact our representatives via live chat or email.
                </div>
            </div>

            <div class="delivery my-4">
                <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span>   &nbsp;
                    <b>Delivery done in 3 days from date of purchase</b> </p>
                <p class="text-secondary">Order now to get this product delivery</p>
            </div>
            <div class="delivery-options my-4">
                <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-filter"></i></span>    &nbsp;<b>Delivery options</b> </p>
                <p class="text-secondary">View delivery options here</p>
            </div>

            <!-- add comment section -->
            <div class="delivery-options my-4">
                <div class="comment-box ml-2">
                          
                    <h4>Add a comment</h4>
                    <ng-container *ngIf="!isUserLogged"><p class="text text-danger">Login to add a Review</p> </ng-container>
                    <ng-container *ngIf="isUserLogged">
                    <div class="rating my-2"> 
                        <p-rating [(ngModel)]="numOfStars" [cancel]="false"></p-rating>
                    </div>
                    
                    <div class="comment-area my-2">
                        
                        <input class="form-control" placeholder="Write a review" rows="4" [(ngModel)]="comment">
                    
                    </div>
                    
                    <div class="comment-btns my-2">
                        
                        <div class="row">
 
                            <div class="col-6">
                                
                                <div class="pull-right">
                                
                                <button class="btn btn-success" (click)="addReview()">Send <i class="fa fa-long-arrow-right ml-1"></i></button>      
                                    
                                </div>
                            
                            </div>
                        
                        </div>
                    
                    </div>
                
                </ng-container>
                </div>
            
            </div>
             <!-- user comments -->
            <div class="delivery-options my-4" >
                Comments
                <div class="card ">
                    <div class="card-body" *ngFor="let review of product.reviews">
                        <i class="fa-solid fa-comment"></i>
                        UserName:
                      <h3 class="card-title">Anonymous</h3>
                        comment: 
                      <p class="card-text bold">{{review.reviewComment}}</p>
                      <!-- <a class="btn btn-success"><i class="fa fa-star rating-color"></i>{{review.numberOfStars}}</a> -->
                      <p-rating ngModel="{{ review.numberOfStars}}" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                  </div>
            </div>
        </div>
        </div>
      </div>
      <div >
      </div>


   
  