<p>category-list works!</p>


<table class="table table-bordered table-dark" >
    <thead>
        <!-- <th>INDEX</th> -->
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
        <th>Delete</th>
        <th>Details</th>
    </thead>
  <tbody>
    <tr *ngFor="let cat of catList; let x=index ">
        <!-- <td>{{x}}</td> -->
        <!-- <td>{{cat.catId}}</td> -->
        <td> {{x}}{{cat.categoryName}}</td>
        <!-- <td>{{cat.catImageUrl}}</td>  -->
        <!-- <td><a class="nav-link" routerLink="/student/details/{{st.stdid}}">Details</a></td>
        <td><a class="nav-link" routerLink="/student/edit/{{st.stdid}}"><mat-icon>edit</mat-icon>Edit</a></td>
        <td><button (click)="delete(st.stdid)" class="btn btn-danger"><mat-icon>delete</mat-icon></button></td> -->
        
        
        <!-- <td><button (click)="detailsid=st.stdid; stdser.showflag=true" class="btn btn-primary">Details</button></td> -->
        <!-- details(st.stdid); <td><button (click)="delete(x)">Delete</button></td> -->
    </tr>
  </tbody>
</table>

