<div class="container-fluid">
  <div class="row">
    <div class="col mb-5">
      <img src="{{ serverURL + category?.imageUrl }}" alt="Shoes Category" style="width: 100%; height: 40vh" />
    </div>
  </div>
  <div class="row">
    <!-- Start Sorting -->
    <h1>Sort By</h1>

    <select class="form-control w-25" [(ngModel)]="selectedSortOption" (change)="sortProducts()">
      <option value="random" selected>Random</option>

      <option value="priceAsc">Price (Low to High)</option>
      <option value="priceDesc">Price (High to Low)</option>
      <option value="nameAsc">Name (A to Z)</option>
      <option value="nameDesc">Name (Z to A)</option>
    </select>

    <!-- End Sorting -->

    <pre>


    </pre>



    <div class="row">
      <div class="col-2">
        <pre></pre>
        <!-- sort by rating -->
        <div></div>
        <!-- end sort by rating -->

        <pre></pre>

        <!-- Start Shop By Brand -->
        <h1>Shop by Brand</h1>
        <select class="form-control" (change)="getProductsByBrandName($event)">
          <option value="All" selected>All</option>
          <option value="{{ option.brandName }}" *ngFor="let option of brands">
            {{ option.brandName }}
          </option>
        </select>
      </div>



      <div class="col-10">
        <div class="row">
          <div class="col-sm-4" *ngFor="let prd of products; let i = index">
            <div class="card" style="margin-bottom: 20px">
              <img class="card-img-top" src="{{ serverURL + prd.imageUrl }}" alt="Card image cap" width="200px"
                height="250px" />
              <div class="card-body">
                <h5 class="card-title">
                  <a class="nav-link" routerLink="/product/details/{{ prd.id }}">{{ prd.productName }}</a>
                </h5>
                <p-rating ngModel="{{ prd.rate }}" [readonly]="true" [cancel]="false"></p-rating>
                <p class="card-text">{{ prd.price | currency }}</p>
                <p class="card-text">{{ prd.productDescription }}</p>
                <button class="btn btn-primary" (click)="addToCart(prd.id)">add to cart</button>
                <button mat-fab style="float: right" (click)="addTowishlist(prd.id)">
                  <mat-icon>favorite</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
