<!-- <p>student-add works!</p> -->
<p>ADD NEW STUDENT</p>
<table>
    <tr>
<td><label for="stdname">Student Name</label></td>
<td><input type="text"  [(ngModel)]="s1.stdname"><br></td>
</tr>
<tr>
    <td><label for="stdid">Student ID</label></td>
    <td><input type="text"  [(ngModel)]="s1.stdid"><br></td>
</tr>
<tr>
    <td><label for="stdage">Student Age</label></td>
    <td><input type="text"  [(ngModel)]="s1.stdage"><br></td>
</tr>
</table>


<p-toast position="bottom-center"></p-toast>
<button (click)="addSingle();add(); " >ADD</button>

<!-- routerLink="/student" -->
