<h1>Student is working</h1>

<!-- <div *ngIf="s1.stdid>=3">
    
</div> -->

<input type="text"  [(ngModel)]="s1.stdname">
<input type="text"  [(ngModel)]="s1.stdid">
<input type="text"  [(ngModel)]="s1.stdage">
<button (click)="add()">ADD</button>
<button (click)="delete(s1.stdid)">Delete</button>
<!-- style="width:60%" -->
<table class="table table-bordered">
    <thead>
        <!-- <th>INDEX</th> -->
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
    </thead>
  <tbody>
    <tr *ngFor="let st of students; let x=index ">
        <!-- <td>{{x}}</td> -->
        <td>{{st.stdname}}</td>
        <td>{{st.stdid}}</td>
        <td>{{st.stdage}}</td> 
        <!-- <td><button (click)="delete(x)">Delete</button></td> -->
    </tr>
  </tbody>
</table>

