<!-- <p>student-list works!</p> -->
<!-- <p>STUDENT DETAILS</p>
<table class="table table-bordered ">
  <thead>
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
        
  </thead>
  <tbody>
      <tr>
        <td>{{studname}}</td>
        <td>{{studid}}</td>
        <td>{{studage}}</td> 
      </tr>
  </tbody>
</table> -->

<a routerLink="/student/add" class="btn btn-primary" style="float:right;">ADD</a>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<table class="table table-bordered table-dark" >
    <thead>
        <!-- <th>INDEX</th> -->
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
        <th>Delete</th>
        <th>Details</th>
    </thead>
  <tbody>
    <tr *ngFor="let st of students; let x=index ">
        <!-- <td>{{x}}</td> -->
        <td>{{st.stdname}}</td>
        <td>{{st.stdid}}</td>
        <td>{{st.stdage}}</td> 
        <td><a class="nav-link" routerLink="/student/details/{{st.stdid}}">Details</a></td>
        <td><a class="nav-link" routerLink="/student/edit/{{st.stdid}}"><mat-icon>edit</mat-icon>Edit</a></td>
        <td><button (click)="delete(st.stdid)" class="btn btn-danger"><mat-icon>delete</mat-icon></button></td>
        
        
        <!-- <td><button (click)="detailsid=st.stdid; stdser.showflag=true" class="btn btn-primary">Details</button></td> -->
        <!-- details(st.stdid); <td><button (click)="delete(x)">Delete</button></td> -->
    </tr>
  </tbody>
</table>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<!-- Details router child -->
<router-outlet></router-outlet>

<!-- <app-student-add (onStudentAdd)="addStd($event)"></app-student-add> -->

<!-- button on td
<app-student-details [id]="detailsid" *ngIf="stdser.showflag"></app-student-details> -->

