.log:hover{
    cursor: pointer;

}
.notification-container {
    position: relative;
 


  
}

.notification-counter {   
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}



