<pre>

</pre>
<p style="font-size: 40px;"><strong>welcome to your wishlist</strong></p>
<pre>

</pre>

<h2>Wishlisted items ({{productCount}}) </h2>
<div *ngFor="let prd of products; let x=index">
  <div class="card d-flex justify-content-between mb-5 w-75" id="container">
    <div class="d-flex">
      <img [src]="createImagepath(prd.imageUrl)" routerLink="/product/details/{{ prd.id }}" class="card-img-top w-25" alt="product image">
      <div class="card-body d-flex flex-row">
        <div class="m-2">
          <h4 class="card-title name" routerLink="/product/details/{{ prd.id }}"><strong>{{prd.productName}} </strong></h4>
          <h4 class="card-text"><strong> {{prd.productDescription}} </strong></h4>
          <h4><strong> Price : {{prd.price}} 	&euro; <sup style="color: gray;">+10 &euro; shipping</sup> </strong></h4>
        </div>
      </div>
      <div class="m-2 d-flex flex-row">
        <div class="m-2">
          <h4><strong> Rating</strong> </h4>
          <p-rating [(ngModel)]="prd.rate" [readonly]="true">
            <ng-template pTemplate="cancel">
              <img src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png" width="25px" height="25px" />
            </ng-template>
            <ng-template pTemplate="onicon">
              <img src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon-active.png" width="25px"
                height="25px" />
            </ng-template>
            <ng-template pTemplate="officon">
              <img src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon.png" width="25px"
                height="25px" />
            </ng-template>
          </p-rating>
          <div class="pt-2 mt-2 d-flex">
            <button class="btn btn-primary m-2" (click)="addToCart(prd.id)"><i class="pi pi-shopping-cart"
                style="font-size: 1.5rem"></i><br>Buy now</button>
            <button class="m-2" pButton pRipple label="Delete" icon="pi pi-trash"
              (click)="removeprd(prd.id)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
