<div class="row">
    <div class="col-md-4 mb-3" *ngFor="let order of orders">
      <div class="card">
        <div class="card-header">
          Order ID: {{ order.id }}
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let orderProduct of order.orderProductDTOs">
              <div> Product Name: {{ orderProduct.pName }}</div>
              <div>Price: {{ orderProduct.price }}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  

<!-- <div class="row">
    <div class="col-md-6" *ngFor="let order of orders">
      <div class="card">
        <div class="card-header">{{ order.id }}</div>
        <div class="card-body">
          <table>
            <tbody>
              <tr *ngFor="let orderProduct of order.orderProductDTOs">
                <td><span>product Name :</span> <br>{{ orderProduct.pName }} <br></td>
                <td><span> product Price :</span> <br>{{ orderProduct.price }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
   -->

