/* .card{
    width: 400px;
    height: fit-content;
}

.btn-danger{
    float: right;
}
.btn-secondary{
    width: 20%;
    margin-bottom: 4px;
} */
img{
    height: 15em;
}
img:hover{
    cursor: pointer;
}