<!-- 


<a routerLink="/category/add" class="btn btn-primary" style="float:right;">ADD</a>

<div class="row">
  <div class="col-4" *ngFor="let cat of catList; let x=index">

    <div class="card">
      <a class="btn btn-secondary" routerLink="/category/edit/{{ cat.id }}" >Edit</a>

      <img class="card-img-top" [src]="createImagepath(cat.imageUrl)" alt="" width="100%"routerLink="/category/details/{{ cat.id }}">
      <div class="card-body">
        <h3 class="card-title"><p>{{ cat.categoryName }}</p></h3>
        <button class="btn btn-danger" (click)="delete(cat.id)" routerLink="/category">Delete</button>
      </div>
    </div>
  </div>
</div>
 -->
 <a routerLink="/category/add" class="btn btn-primary" style="float:right;">ADD</a>

 <table class="table table-responsive">
  <thead>
    <tr>
      <th>Category</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of catList; let x=index">
      <td>{{ cat.categoryName }}</td>
      <td><img [src]="createImagepath(cat.imageUrl)" alt="" width="60%"></td>
      <td><a class="btn btn-secondary" routerLink="/category/edit/{{ cat.id }}">Edit</a></td>
      <td><button class="btn btn-danger" (click)="delete(cat.id)" routerLink="/category">Delete</button></td>
    </tr>
  </tbody>
</table>

