


<a routerLink="/category/add" class="btn btn-primary" style="float:right;">ADD</a>

<table class="table table-bordered table-dark" >
    <thead>
        <th>#</th>
        <th>NAME</th>
        <th>Image</th>
        <th>Delete</th>
        <th>Details</th>
    </thead>
  <tbody>

    <tr *ngFor="let cat of catList; let x=index ">
        <td>{{x+1}}</td>
        <td> {{cat.categoryName}}</td>
        <td> <img [src]= "createImagepath(cat.imageUrl)" alt=""></td> 
        <td><a class="nav-link" routerLink="/category/details/{{cat.id}}">Details</a></td>
        <td><a class="nav-link" routerLink="/category/edit/{{cat.id}}"><mat-icon>edit</mat-icon>Edit</a></td> 
        <td><button (click)="delete(cat.id)" routerLink="/category" class="btn btn-danger"><mat-icon>delete</mat-icon></button></td>
    </tr>
  </tbody>
</table>


